<html>
<head>
<style type="text/css">
<!--
A:link {text-decoration: none;}
A:visited {text-decoration: none;}
A:active {text-decoration: none;}
A:hover {text-decoration: none; color: #66ccff;}
//-->
</style>
<title>
Higgs Studies
</title>
</head>
<body bgcolor="White">

<font size="10">Low Mass Higgs HLT studies<br></font>


<font size="6">Cuts Definition<br></font>

<table width="20%">
  <tr>
    <font size="6"><a href="./template/cuts.txt">Code<br></a>
  </tr>
</table>

<table width="20%" border="1" cellpadding="0" cellspacing="0">
<tr>
<font size="6">HLT-Higgs production modes / mass points<br></font>
</tr>
<tr>
<td> <font size="20">ggh</td>
<td> <font size="20">tth</td>
<td> <font size="20">vbf</td>
<td> <font size="20">wzh</td>
<tr>
<tr>
  <td>
<font size="6"><a href="./ggh_m70_8TeV">ggh_m70_8TeV  <br></a>
<font size="6"><a href="./ggh_m75_8TeV">ggh_m75_8TeV  <br></a>
<font size="6"><a href="./ggh_m80_8TeV">ggh_m80_8TeV  <br></a>
<font size="6"><a href="./ggh_m85_8TeV">ggh_m85_8TeV  <br></a>
<font size="6"><a href="./ggh_m90_8TeV	   ">ggh_m90_8TeV	  <br></a>
<font size="6"><a href="./ggh_m95_8TeV    ">ggh_m95_8TeV         <br></a>
<font size="6"><a href="./ggh_m100_8TeV    ">ggh_m100_8TeV         <br></a>
<font size="6"><a href="./ggh_m105_8TeV   ">ggh_m105_8TeV	  <br></a>
<font size="6"><a href="./ggh_m110_8TeV   ">ggh_m110_8TeV	  <br></a>
<font size="6"><a href="./ggh_m115_8TeV   ">ggh_m115_8TeV	  <br></a>
</td>
<td>
<font size="6"><a href="./tth_m80_8TeV	">tth_m80_8TeV<br></a>
<font size="6"><a href="./tth_m85_8TeV	">tth_m85_8TeV<br></a>
<font size="6"><a href="./tth_m90_8TeV	">tth_m90_8TeV<br></a>
<font size="6"><a href="./tth_m95_8TeV	">tth_m95_8TeV<br></a>
<font size="6"><a href="./tth_m100_8TeV">tth_m100_8TeV<br></a>	  
<font size="6"><a href="./tth_m105_8TeV">tth_m105_8TeV<br></a>	  
<font size="6"><a href="./tth_m110_8TeV">tth_m110_8TeV<br></a>
<font size="6"><a href="./tth_m115_8TeV">tth_m115_8TeV<br></a>	  
</td>
<td>
<font size="6"><a href="./vbf_m80_8TeV">vbf_m80_8TeV<br></a>
<font size="6"><a href="./vbf_m85_8TeV">vbf_m85_8TeV<br></a>
<font size="6"><a href="./vbf_m90_8TeV	">vbf_m90_8TeV<br></a>
<font size="6"><a href="./vbf_m95_8TeV	">vbf_m95_8TeV<br></a>
<font size="6"><a href="./vbf_m100_8TeV">vbf_m100_8TeV<br></a>	  
<font size="6"><a href="./vbf_m105_8TeV">vbf_m105_8TeV<br></a>	  
<font size="6"><a href="./vbf_m110_8TeV">vbf_m110_8TeV<br></a>
<font size="6"><a href="./vbf_m115_8TeV">vbf_m115_8TeV<br></a>	  
</td>
<td>
<font size="6"><a href="./wzh_m85_8TeV	">wzh_m85_8TeV<br></a>
<font size="6"><a href="./wzh_m90_8TeV	">wzh_m90_8TeV<br></a>
<font size="6"><a href="./wzh_m95_8TeV	">wzh_m95_8TeV<br></a>
<font size="6"><a href="./wzh_m100_8TeV">wzh_m100_8TeV<br></a>	  
<font size="6"><a href="./wzh_m105_8TeV">wzh_m105_8TeV<br></a>	  
<font size="6"><a href="./wzh_m110_8TeV">wzh_m110_8TeV<br></a>
<font size="6"><a href="./wzh_m115_8TeV">wzh_m115_8TeV<br></a>	  
</td>
</tr>

<table border='1' width="20%">
  <tr>
    <td></td>
    <td colspan = "2">
      <font size="6">Study A<br>  
    </td>
    <td colspan = "2">
      <font size="6">Study B<br>
    </td>
    <td colspan = "2">
      <font size="6">Study C<br>
    </td>
    <td colspan = "2">
      <font size="6">Study D<br>
    </td>
  </tr>
  <tr>
    <td></td>
    <td colspan = "2">
      <a href='./summary21_0p9.png'>
	<img width="800" border='0' src='./summary21_0p9.png'>
      </a>
    </td>
    <td colspan = "2">
      <a href='./summary43_0p9.png'>
	<img width="800" border='0' src='./summary43_0p9.png'>
      </a>
    </td>
    <td colspan = "2">
      <a href='./summary65_0p9.png'>
	<img width="800" border='0' src='./summary65_0p9.png'>
      </a>
    </td>
    <td colspan = "2">
      <a href='./summary87_0p9.png'>
	<img width="800" border='0' src='./summary87_0p9.png'>
      </a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><font size="6">pt Lead Vs Efficiency study A</td>
    <td><font size="6">pt Trail Vs Efficiency study A</td>
    <td><font size="6">pt Lead Vs Efficiency study B</td>
    <td><font size="6">pt Trail Vs Efficiency study B</td>
    <td><font size="6">pt Lead Vs Efficiency study C</td>
    <td><font size="6">pt Trail Vs Efficiency study C</td>
    <td><font size="6">pt Lead Vs Efficiency study D</td>
    <td><font size="6">pt Trail Vs Efficiency study D</td>
  <tr>
  <tr>
    <td>
      <font size="6">ggh
    </td>
    <td>
      <a href='./matrix/gghLead21.png'>	<img width="400" border='0' src='./matrix/gghLead21.png'> </a>
    </td>
    <td>
      <a href='./matrix/gghTrail21.png'>	<img width="400" border='0' src='./matrix/gghTrail21.png'> </a>
    </td>
   <td>
      <a href='./matrix/gghLead43.png'>	<img width="400" border='0' src='./matrix/gghLead43.png'> </a>
    </td>
    <td>
      <a href='./matrix/gghTrail43.png'>	<img width="400" border='0' src='./matrix/gghTrail43.png'> </a>
    </td>
   <td>
      <a href='./matrix/gghLead65.png'>	<img width="400" border='0' src='./matrix/gghLead65.png'> </a>
    </td>
    <td>
      <a href='./matrix/gghTrail65.png'>	<img width="400" border='0' src='./matrix/gghTrail65.png'> </a>
    </td>
   <td>
      <a href='./matrix/gghLead87.png'>	<img width="400" border='0' src='./matrix/gghLead87.png'> </a>
    </td>
    <td>
      <a href='./matrix/gghTrail87.png'>	<img width="400" border='0' src='./matrix/gghTrail87.png'> </a>
    </td>
  </tr>
  <tr>
    <td>
      <font size="6">tth
    </td>
    <td>
      <a href='./matrix/tthLead21.png'>	<img width="400" border='0' src='./matrix/tthLead21.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthTrail21.png'>	<img width="400" border='0' src='./matrix/tthTrail21.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthLead43.png'>	<img width="400" border='0' src='./matrix/tthLead43.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthTrail43.png'>	<img width="400" border='0' src='./matrix/tthTrail43.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthLead65.png'>	<img width="400" border='0' src='./matrix/tthLead65.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthTrail65.png'>	<img width="400" border='0' src='./matrix/tthTrail65.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthLead87.png'>	<img width="400" border='0' src='./matrix/tthLead87.png'> </a>
    </td>
    <td>
      <a href='./matrix/tthTrail87.png'>	<img width="400" border='0' src='./matrix/tthTrail87.png'> </a>
    </td>
  </tr>
  <tr>
    <td>
      <font size="6">vbf
    </td>
    <td>
      <a href='./matrix/vbfLead21.png'>	<img width="400" border='0' src='./matrix/vbfLead21.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfTrail21.png'><img width="400" border='0' src='./matrix/vbfTrail21.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfLead43.png'>	<img width="400" border='0' src='./matrix/vbfLead43.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfTrail43.png'><img width="400" border='0' src='./matrix/vbfTrail43.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfLead65.png'>	<img width="400" border='0' src='./matrix/vbfLead65.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfTrail65.png'><img width="400" border='0' src='./matrix/vbfTrail65.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfLead87.png'>	<img width="400" border='0' src='./matrix/vbfLead87.png'> </a>
    </td>
    <td>
      <a href='./matrix/vbfTrail87.png'><img width="400" border='0' src='./matrix/vbfTrail87.png'> </a>
    </td>
  </tr>
    <tr>
    <td>
      <font size="6">wzh
    </td>
    <td>
      <a href='./matrix/wzhLead21.png'>	<img width="400" border='0' src='./matrix/wzhLead21.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhTrail21.png'>	<img width="400" border='0' src='./matrix/wzhTrail21.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhLead43.png'>	<img width="400" border='0' src='./matrix/wzhLead43.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhTrail43.png'>	<img width="400" border='0' src='./matrix/wzhTrail43.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhLead65.png'>	<img width="400" border='0' src='./matrix/wzhLead65.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhTrail65.png'>	<img width="400" border='0' src='./matrix/wzhTrail65.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhLead87.png'>	<img width="400" border='0' src='./matrix/wzhLead87.png'> </a>
    </td>
    <td>
      <a href='./matrix/wzhTrail87.png'> <img width="400" border='0' src='./matrix/wzhTrail87.png'> </a>
    </td>
  </tr>
</table>

<table>
  <td>
    <font size="6">selection/minitree<br>  
  </td>
  <td>
    <a href='./summary10.png'>
      <img width="400" border='0' src='./summary10.png'>
    </a>
  </td>
</table>

</body>
</html>

